<h1>summary</h1>

<script type="text/javascript">
function save(){
  var amount = $("#bank_amount").val();
  var cookie_name = 'bank_amount';
  $.cookie.defaults.path = "/";
  $.cookie(cookie_name, amount);
  location.reload();
}
</script>

<div class="summary_header">
現在の現金収入：<%= @current_income ? @current_income : 0 %><br />
現在の現金支出：<%= @current_outgo ? @current_outgo : 0 %><br />
現在の現金残高：<%= (@current_income ? @current_income : 0) - (@current_outgo ? @current_outgo : 0) %><br />
現在の銀行残高：<input type="text" name="bank_amount" id="bank_amount" value="<%= cookies[:bank_amount] %>"/>
<input type="button" onclick="save();" value="save bank_amount" />
<br />
現在の財布残高：<%= (@current_income ? @current_income : 0) - (@current_outgo ? @current_outgo : 0) - (cookies[:bank_amount] ? cookies[:bank_amount].to_i : 0) %><br />

</div>

<div class="calendar_haeder">
<%= link_to "<<", :controller => 'summary', :y => @first_day_of_month.last_month.year , :m => @first_day_of_month.last_month.month %>
<%= @first_day_of_month.year -%>年<%= @first_day_of_month.month %>月
<%= link_to ">>", :controller => 'summary', :y => @first_day_of_month.next_month.year , :m => @first_day_of_month.next_month.month %>
</div>

<table border="1">
  <tr>
    <th>日付</th>
    <th>収入</th>
    <% @types.each do |type| %>
      <th>
        <%= type.label %>
        <%= sprintf("(%s日締翌月%s日払)", type.cutoff_day == GETSUMATSU ? '月末' : type.cutoff_day, type.payment_day) if type.is_card %>
      </th>
    <% end %>
  </tr>
  <% i = 0 %>
  <% @days.each do |day| %>
    <tr>
      <td>
        <%= day %>
      </td>
      <td>
        <%= @day_summary[day][@income_cash_key] if @day_summary[day][@income_cash_key] > 0 %>
      </td>
      <% @types.each do |type| %>
        <td>
          <%= "-#{@day_summary[day][type.id]}" if @day_summary[day][type.id] > 0 %>
        </td>
      <% end %>
    </tr>
  <% end %>

  <tr>
    <td>合計</td>
    <td>+<%= @month_summary[@income_cash_key] %></td>
    <% @types.each do |type| %>
      <td>-<%= @month_summary[type.id] %></td>
    <% end %>
  </tr>
</table>

<div class="summary_footer">
  月末時点の現金残高：<%= @month_summary[@income_cash_key] - @month_summary[@types.minimum(:id)] %>
</div>

<ul>
  <% @details.each do |detail| %>
  <li>
    <%= link_to detail.id, detail_path(detail.id) %>&nbsp;
    <%= detail.record_at.strftime("%F") %>&nbsp;
    ￥<%= detail.amount %> (<%= detail.desc %>)
    <%= detail.type.nil? ?  "un-selected" : detail.type.label %>
    <%= detail.outline.nil? ?  "un-selected" : detail.outline.label %>
    <%= link_to "[edit]", edit_detail_path(detail.id) %>
    <%= link_to "[delete]", detail_path(detail.id), method: :delete, data:{confirm: "are you sure?"}  %>
  </li>
  <% end %>
</ul>

<p><%= link_to "Add New", new_detail_path %></p>

<p><%= link_to "details", details_path %></p>
