<h1>summary</h1>

<div class="summary_header">
現在の現金収入：<%= @income_cash ? @income_cash : 0 %><br />
現在の現金支出：<%= @outgo_cash ? @outgo_cash : 0 %><br />
現在の現金残高：<%= (@income_cash ? @income_cash : 0) - (@outgo_cash ? @outgo_cash : 0) %><br />
</div>

<div class="calendar_haeder">
<%= link_to "<<", :controller => 'summary', :y => @first_day.last_month.year , :m => @first_day.last_month.month %>
<%= @first_day.year -%>年<%= @first_day.month %>月
<%= link_to ">>", :controller => 'summary', :y => @first_day.next_month.year , :m => @first_day.next_month.month %>
</div>

<% i = 0 %>
<% xdate = @first_day %>
<table border="1">
  <tr>
    <th>日付</th>
    <th>収入</th>
    <% @types.each do |type| %>
      <th>
        <%= type.label %>
        <%= sprintf("(%s日締翌月%s日払)", type.cutoff_day == GETSUMATSU ? '月末' : type.cutoff_day, type.payment_day) if type.is_card %>
      </th>
    <% end %>
  </tr>
  <% i = 0 %>
  <% while ((xdate < @first_day) or (xdate.month == @first_day.month)) do %>
    <tr>
      <td>
        <%= xdate.year %>/<%= xdate.month %>/<%= xdate.day %>
      </td>
      <td>
        <% sum = 0 %>
        <% @types.each do |type| %>
          <% name = sprintf("@recs_%d_%d", type.id, INCOME) %>
          <% @recs = eval("#{name}") %>
          <% if @recs[i]['amount'] %><% sum += @recs[i]['amount'] %><% end %>
        <% end %>
        <% if sum > 0 %>+<%= sum %><br /><% end %>
      </td>
      <% @types.each do |type| %>
        <td>
          <% name = sprintf("@recs_%d_%d", type.id, OUTGO) %>
          <% @recs = eval("#{name}") %>
          <% if @recs[i]['amount'] %>
            -<%= @recs[i]['amount'] %><br />
          <% end %>
        </td>
      <% end %>
    </tr>
    <% i += 1 %>
    <% xdate += 1 %>
  <% end %>

  <tr>
    <td>合計</td>
    <td>+<%= @income_sum %></td>
    <% @types.each do |type| %>
      <% name = sprintf("@outgo_sum_%d", type.id) %>
      <td>-<%= eval("#{name}") %></td>
    <% end %>
  </tr>
</table>

<div class="summary_footer">
  <% name = sprintf("@outgo_sum_%d", @types.first.id) %>
  月末時点の現金残高：<%= @income_sum - eval("#{name}") %>
</div>

<p><%= link_to "details", details_path %></p>
