<%= simple_form_for @detail, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.input :record_at, as: :date %>
  <%= f.input :sign, collection: [["+", false],["-", true]], checked: false, as: :radio_buttons, item_wrapper_class: "inline" %>
  <%= f.input :amount %>
  <%= f.input :type_id, collection: current_user.types.map{ |type| [type.label, type.id] } %>
  <%= f.input :outline_id, collection: current_user.outlines.map{ |type| [type.label, type.id] } %>
  <%= f.input :desc %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                details_path, :class => 'btn' %>
  </div>
<% end %>
