<!DOCTYPE html>
<html>
<head>
  <title>Petty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">
<%= render 'shared/user_nav' %>
</div>

<div class="contents">
<%= yield %>
</div>

</body>
</html>
